{% extends "layout.html.twig" %}

{% block body %}
	<div class="page-header">
	    <h1>Dash Board</h1>
	</div>
	<p>
    	ACA PODEMOS MOSTRAR LOS AUTOS DENTRO DEL TALLER
    </p>
    <p>
	    AVISOS PARA CLIENTES
	</p>
{% endblock %}